@import "../../variables";

.overview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.overview-align-container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.overview-locations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    min-width: $dim-box-min-width;
    min-height: 150px;
    padding: $dim-padding;
    border-radius: $dim-border-radius 80px $dim-border-radius $dim-border-radius;
    background-color: $color-box;
}

.overview-locations-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.locations-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 10px;
}

.location-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: $dim-border-radius-small;
    background-color: $color-bg;
    content: "";
    transition: background-color 0.5s;

    &:hover {
        background-color: $color-icon;

        .icon {
            color: $color-box;
        }
    }

    .icon {
        width: 30px;
        height: 30px;
        padding: 0;
        margin: 0;
        color: $color-icon;
        transition: color 0.5s;
    }
}

.overview-space {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 500px;
    min-width: $dim-box-min-width;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
}

.overview-space-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    padding: $dim-padding-small;
    margin-right: $dim-padding;
    border-radius: $dim-border-radius;
    background-color: white;
    z-index: 1;
    position: relative;

    &:before {
        content: "";
        background-color: white;
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: -35px;
        right: 0;
        clip-path: polygon(40% 0, 100% 0, 100% 55%);
    }
}


.desktop {
    display: block;
    margin-bottom: -20px;
}

.mobile {
    display: none;
}

.overview-space-box-big-text {
    margin-right: 10px;
    font-weight: $font-weight-bold;
    font-size: 30px;
    color: $color-bg;
}

.overview-space-box-text {
    font-weight: $font-weight-bold;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-text-smooth;
}

.overview-main-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: inherit;
    min-width: $dim-box-min-width;
    height: 120px;
    padding: $dim-padding;
    border-radius: $dim-border-radius;
    background-color: $color-box;
}

.overview-space-text {
    letter-spacing: 0.1em;
}

@media (max-width: $breakpoint-tablet) {
    .overview-align-container {
        flex-direction: column;
        align-items: center;
    }
    .overview-space {
        align-items: center;
        width: $dim-box-min-width !important;
        margin-left: 0px;
        margin-right: 0px;
    }

    .overview-space-box {
        margin-bottom: -10px;

        &::before{
            display: none;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        margin-top: calc(-1 * ((#{$dim-padding}/ 2) + 25px));
    }

    .overview-space-text {
        letter-spacing: 0em;
    }

    .overview-main-box {
        align-items: center;
    }
}
