@import '../../variables';


.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: $dim-padding;
    border-radius: $dim-border-radius;
    background-color: $color-box;
}

.logo {
    margin-bottom: $dim-padding;
}

.button {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border-radius: $dim-border-radius;
    font-weight: $font-weight-bold;
    color: $color-bg;
    background-color: $color-contrast;
    cursor: pointer;

    &:hover{
        background-color: $color-text-hard;
    }
}