// colors
$color-gradient: linear-gradient(to left, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
$color-box: hsl(228, 56%, 26%);
$color-bg: hsl(229, 57%, 11%);
$color-contrast: white;
$color-text-hard: hsl(243, 100%, 93%);
$color-text-smooth: hsl(229, 7%, 55%);


// font
$font-family: 'Raleway', sans-serif;
$font-weight-bold: 700;
$font-weight-regular: 400;

// dimensions
$dim-padding: 20px;
$dim-box-min-width: 250px;
